footer {
    position: absolute;
    width: 100%;
    background-color: rgb(224, 218, 218);
    margin-top: 5%;
    margin-bottom: 0;
}

.centro {
    position: relative;
    text-align: center;
    margin: 1%;
}

.derecha {
    text-align: right;
    margin-right: 10%;
}

.logo {
    width: 100%;
}

.dibujito {
    float: left;
    margin-left: 50%;
}

.margenTop {
    margin-top: 4%;
}