* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    width: 100%;
    height: 30%;
}

.fondoHeader {
    position: relative;
    width: 100%;
}

#contenedorHeader {
    position: relative;
    /*background-image: url("pelota.jpg");*/
}

#titulo {
    position: absolute;
    text-align: left;
    margin-top: 0;
    z-index: 10;
    color: #fff;
}

#info-titulo {
    text-align: center;
    color: #fff;
    background: #000;
    margin-top: 0%;
    font-weight: bold;
    font-size: 25px;
}

#logo {
    position: relative;
    width: 10%;
    margin-left: 70%;
    margin-top: -10%;
}

.invisible {
    display: none;
}

.cuerpoAbout {
    background: #BBAEA2;
    border-radius: 6px;
    position: relative;
    width: 100%;
    text-indent: 1%;
}

.cuerpoIndex {
    background: #BBAEA2;
    border-radius: 6px;
    position: relative;
    margin-top: 0;
    width: 100%;
    text-indent: 1%;
}

.cuerpoInfo {
    background: rgb(167, 137, 137);
    border-radius: 6px;
    position: relative;
    width: 100%;
    text-indent: 1%;
}

.cuerpoContact {
    background: #BBAEA2;
    border-radius: 6px;
    position: relative;
    width: 100%;
    text-indent: 1%;
}

.cuerpoReglas {
    background: #BBAEA2;
    border-radius: 6px;
    position: relative;
    width: 100%;
    text-indent: 1%;
}

.textos {
    position: relative;
    margin-left: 5%;
}

.margenListas {
    margin-left: 5%;
}

.margenListasitemsLetras {
    margin-left: 5%;
    list-style-type: lower-latin;
}

aside {
    position: relative;
    background: #F19A48;
    border-radius: 6px;
    margin: 1.5%;
    width: 15%;
    float: left;
}

.navegador {
    text-align: center;
    padding: 10%;
    font-family: "Times New Roman", Times, serif;
}

article {
    position: relative;
    width: 75%;
    margin: 1.5%;
    margin-left: 19%;
}

footer {
    background: #2db34a;
    margin-top: 1%;
}

table {
    border-collapse: collapse;
    margin-left: 2%;
}

th,
td {
    border: 1px solid #cecfd5;
    padding: 10px 15px;
}